<a href="https://colab.research.google.com/github/shailza969/Boston-housing-Dataset-project/blob/main/Linear_RegressionCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_test.csv')
df.shape

(3000, 9)

In [ ]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
X = df.iloc[:,:8]
Y = df[['median_house_value']]

In [ ]:
from sklearn.model_selection import train_test_split
X_train ,X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2)

In [ ]:
X_train.shape, X_test.shape, Y_train.shape,Y_test.shape

((2400, 8), (600, 8), (2400, 1), (600, 1))

In [ ]:
from sklearn.linear_model import LinearRegression
regr = LinearRegression(normalize = True)
regr.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [ ]:
yhat = regr.predict(X_test)

In [ ]:
n = np.mean((yhat - Y_test)**2)

In [ ]:
print(regr.score(X_test, Y_test))

0.6298786129998575

In [ ]:
print(regr.score(X_train, Y_train))

0.6177554463482773

In [ ]:
def run(X,Y):
  num_iter = 10
  learn_rate = 0.01
  m,c = gd(X,Y, num_iter, learn_rate)
  return (m,c)

In [ ]:
def gd(X,Y,num_iter, learn_rate):
  m=0
  c=0
  for i in range(num_iter):
    m, c = step_gd(X,Y,m,c, learn_rate)
  return m,c

In [ ]:
def step_gd(X, Y, m,c, learn_rate):
  m_slope , c_slope = 0,0
  for i in range(X.shape[0]):
    x = X[i]
    y = Y[i]
    m_slope += (2/N)*((m*x+c-y)*x)
    c_slope += (2/N)*((m*x+c-y))
  new_m = m - learn_rate*m_slope
  new_c = c - learn_rate*c_slope
  return new_m, new_c

In [ ]:
pred_y=[]
for i in range(X.shape[0]):
  temp = m*X[i]+c
  pred_y.append(temp)